<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Peculiar fox</title>
</head>
<body>
  <div id="div_header">
    <h1 id="content_title">Market list</h1>
  </div>
  <div id="div_form">
    <form>
      <input type="text" id="txt_item" placeholder="Enter new item" /> <br />
      <input type="submit" id="btn_submit" />
    </form>
  </div>
  <div id="div_list">
    <table id="table_list">
    </table>
  </div>
</body>
</html>
